/* General Styles */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: "Cantarell", sans-serif;
}

/* Templates */
.flex-row { display: flex; }
.grid-row { display: grid; }
.grid-col-2 {grid-template-columns: 50% 50%;}
.grid-col-5 {grid-template-columns: repeat(5, 20%);}

.logoimg {
    width: 100px;
    height: auto;
}

/* Header */

header {
    width: 700px;
    background-color: #fb4437;
    border-radius: 5px;
    margin: auto;
}

header .logoimg {
    display: grid;
    width: 200px;
    padding: 10px;
    margin: auto;
}

/* Main */

main {
    width: 700px;
    /* padding: 10px; */
    height: auto;
    margin: 15px auto;
    border-radius: 5px;
    background-color: #b5b6c0;
}

.pocky-masthead {
    width: auto;
    height: 500px;
    background-image: url("../images/pocky-store.jpg");
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pocky-masthead h1 {
    font-size: 300%;
    filter: none;
    color: #f8f8f8;
}

.pocky-mask {
    background-color: rgba(0,0,0.1,0.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid-col-2 img {
    width: 340px;
    height: auto;
}

#bgimg1 {
    width: auto;
    height: 100%;
    background-image: url("../images/pocky-packs.jpg");
    background-size: cover;
}

#bgimg2 {
    width: auto;
    height: 100%;
    background-image: url("../images/pocky-knit.jpg");
    background-size: cover;
}

main h2 {
    font-size: 200%;
    margin: 5px;
}

main p {
    margin: 5px;
}

main > h2 {
    display: grid;
    padding: 10px;
    text-align: center;
}

.segmenta {
    background-color: #fb4437;
    color: #101010;
    padding: 5px;
}

.prod {
    width: auto;
    height: 200px;
    background-size: cover;
    filter: grayscale(100%);
    transition: all .25s ease-in-out;
}

.prod:hover {
    filter:grayscale(0%);
}

.prod-choco { background-image: url("../images/pocky-chocolate.png"); }
.prod-straw { background-image: url("../images/pocky-strawberry.png"); }
.prod-cooki { background-image: url("../images/pocky-cookiesncream.png"); }
.prod-match { background-image: url("../images/pocky-matcha.png"); }
.prod-banan { background-image: url("../images/pocky-banana.png"); }

div h3 {
    text-align: center;
    padding: 5px;
}

/* Footer */

footer {
    background-color: #101010;
    color: #f8f8f8;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > div {
    width: 700px;
    margin: auto;
}

footer .logoimg {
    filter: invert(100%);
    margin: 5px;
}

footer div div {
    flex-grow: 1;
    width: auto;
    height: 100%;
}

footer form input {
    border-radius: 5px;
    padding: 2px;
}